In [1]:
import pyspark

In [2]:

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]").appName("SparkByExamples.com").getOrCreate()

23/03/03 16:23:03 WARN Utils: Your hostname, cuongnguyen-Dell-System-XPS-L322X resolves to a loopback address: 127.0.1.1; using 192.168.0.52 instead (on interface wlp1s0)
23/03/03 16:23:03 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/03 16:23:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 9.5 MB/s eta 0:00:000m eta 0:00:01[36m0:00:01
Collecting numpy>=1.20.3
  Downloading numpy-1.24.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.3/17.3 MB 9.4 MB/s eta 0:00:000m eta 0:00:010:0101
Requirement already satisfied: python-dateutil>=2.8.1 in ./venv/lib/python3.9/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 499.4/499.4 kB 5.7 MB/s eta 0:00:00[36m0:00:01m eta 0:00:01
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.2 pandas-1.5.3 pytz-2022.7.1

In [4]:
import pandas as pd

In [9]:
try:
    df = pd.read_csv("test1.csv")
except:
    print("File not found")

In [10]:
df

     Name  Age
0   Cuong   40
1    Thai   15
2  Phuong   30
3    Uyen   10

In [11]:
spark

In [12]:
df_pyspark = spark.read.csv('test1.csv')

In [13]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [14]:
df_pyspark.show()

+------+---+
|   _c0|_c1|
+------+---+
|  Name|Age|
| Cuong| 40|
|  Thai| 15|
|Phuong| 30|
|  Uyen| 10|
+------+---+

In [16]:
df_pyspark_2 = spark.read.option('header', 'true').csv('test1.csv')

In [17]:
df_pyspark_2.show()

+------+---+
|  Name|Age|
+------+---+
| Cuong| 40|
|  Thai| 15|
|Phuong| 30|
|  Uyen| 10|
+------+---+

In [18]:
df_pyspark_2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

In [19]:
df_pyspark_3 = spark.read.csv("test1.csv", header=True, inferSchema=True)

In [20]:
df_pyspark_3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [21]:
df_pyspark_3.columns

['Name', 'Age']

In [23]:
name = df_pyspark_3.select(['Name'])

In [24]:
name.show()

+------+
|  Name|
+------+
| Cuong|
|  Thai|
|Phuong|
|  Uyen|
+------+